body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #222629;
}

textarea{
  background: white;
  border: none;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;
  border: 1px lightgray;
}

.border {
  border: 1px #474b4f;
}

.jumbotron {
  text-align: center;
  color: white;
  background: #222629;
}

.title {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 100px;
}

.description {
  white-space: pre-wrap;
}

.current-time {
  font-family: 'Orbitron', sans-serif;
  color: #86c232;
  font-size: 25px;
}

.time-block {
  text-align: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  
  /* border-radius: 15px; */
  /* background: white; */
}


.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #222629;
  color: white;
}

.present {
  background-color: white;
  color: #222629;
}

.future {
  background-color: #6b6e70;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  /* border-top-right-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  background-color: #86c232;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clearBtn {
  background-color: #6b6e70;
  color:white;
}
